<div class="card mb-4" id="proyectos" style="padding-bottom: 8%; border: none;">
	<div class="mt-2" style="float: left;">
		<a href="#" *ngIf="user"><i class="fa-solid fa-arrow-left ms-4"></i></a>
	</div>
    <h1 class="mb-4" style="text-align: center;">Proyectos</h1>
    <div class="btn-edit">
        <a href="#" *ngIf="user" data-bs-toggle="modal" data-bs-target="#addProyectoModal" [routerLink]="['/proyectos']"><i class="fas fa-plus"></i></a>
    </div>
    <h5 class="m-auto mb-4" style="width: 90%; text-align: center; color: #4d4d4d;">Estos son algunos de los trabajos en los que he colaborado profesionalmente,
        <span style="color: #ed0c32;">incluyendo mi portfolio web.</span>
	</h5>
	<ul class="row justify-content-center" style="text-align: center; padding: 0;">
		<li class="col-md-6 mt-4" id="project" *ngFor="let proy of proyectos"> 
			<div class="card h-100" style="width: 18rem; border: none; box-shadow: 0 8px 42px 4px #dddddd;">
				<i class="fa-regular fa-folder-open fa-5x mt-2"></i>
				<!--<img [src]="fotoPortfolio" class="card-img-top" alt="Proyecto Portfolio">-->
				<div class="card-body">
					<h5 class="card-title">{{proy.nombre_proyecto}}</h5>
					<p class="card-text">{{proy.descripcion}}</p>
					<a href="#" class="subrayado" style="color: #ed0c32;">Ver proyecto</a>
				</div>
				<div class="btn-edit-proyecto" *ngIf="user">
					<a href="#" class="me-3" data-bs-toggle="modal" data-bs-target="#editProyectoModal" [routerLink]="['/proyectos/editar', proy.id]"><i class="fas fa-pen"></i></a>
					<a href="#" data-bs-toggle="modal" data-bs-target="#deleteProyectoModal" [routerLink]="['/proyectos/eliminar', proy.id]"><i class="fas fa-trash"></i></a>
				</div>
			</div>
		</li>
	</ul>
    <!--Modal add proyecto-->
    <div class="modal fade" id="addProyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border: none;">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Añadir proyecto</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="nombre_proyecto" class="form-label">Título del proyecto</label>
							<input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto" #project="ngModel" [(ngModel)]="proyecto.nombre_proyecto" placeholder="p. ej. Alexa" maxlength="45" required ngModel>
							<div><span *ngIf="project.invalid && project.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
                        <div class="mb-3">
							<label for="descripcion" class="form-label">Descripción</label>
							<textarea class="form-control" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="proyecto.descripcion" rows="3" maxlength="150" required ngModel></textarea>
							<div><span *ngIf="descripcion.invalid && descripcion.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<input type="hidden" id="persona_id" name="persona_id" value="1" [(ngModel)]="proyecto.persona_id" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" role="button" (click)="createPro()">Registrar</button>
				</div>
			</div>
		</div>
	</div>
    <!--Modal editar proyecto-->
    <div class="modal fade" id="editProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border: none;">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Editar proyecto</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clear()" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="nombre_proyecto" class="form-label">Título del proyecto</label>
							<input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto" #project="ngModel" [(ngModel)]="proyecto.nombre_proyecto" placeholder="p. ej. Alexa" maxlength="45" required ngModel>
							<div><span *ngIf="project.invalid && project.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
                        <div class="mb-3">
							<label for="descripcion" class="form-label">Descripción</label>
							<textarea class="form-control" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="proyecto.descripcion" rows="3" maxlength="150" required ngModel></textarea>
							<div><span *ngIf="descripcion.invalid && descripcion.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<input type="hidden" id="persona_id" name="persona_id" value="1" [(ngModel)]="proyecto.persona_id" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" role="button" (click)="updatePro()">Actualizar</button>
				</div>
			</div>
		</div>
	</div>
	<!--Modal delete proyecto-->
	<div class="modal fade" id="deleteProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="card modal-header" style="color: #ed0c32; border: none;">
			  <i class="fa-solid fa-trash-can fa-5x"></i>
			</div>
			<div class="modal-body mb-2" style="text-align: center;">
			  ¿Deseas eliminar este proyecto?
			</div>
			<div class="modal-footer mb-3" style="justify-content: center; border: none;">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear()">Cancelar</button>
			  <button type="button" class="btn btn-danger" (click)="deletePro(proyecto)">Eliminar</button>
			</div>
		  </div>
		</div>
	  </div>
</div>