<section>
    <div class="card">
        <h1>Proyectos</h1>
        <div class="btn-edit">
            <a href="#"><i class="fas fa-plus"></i></a>
        </div>
        <p>En esta seccion se encuentra la información de proyectos desarrollados. 
        <span id="especial">La sección incluye este portfolio web</span>y se ilustra 
        con imágenes de los proyectos.</p> 
        <div id="project">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Nombre Proyecto 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" style="background-color:lightgrey">Ver proyecto</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Nombre Proyecto 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" style="background-color:lightgrey">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
  </section>
