<!--<div class="card">
	<h1 style="margin-bottom: 2%">Educación</h1>
	<div class="btn-edit">
		<a href="#"><i class="fas fa-plus"></i></a>
	</div>
	<ul>
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Argentina Programa</h4>
							<h6 class="card-title">Programador Full Stack</h6>
							<p class="card-text"><small class="text-muted">2022 - 2023</small></p>
							<p class="card-text">Capacitación en programación web full stack para el desarrollo 
								de aplicaciones con HTML, CSS, JavaScript, Bootstrap, Angular, Java y Spring Boot.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Universitat Politècnica de València</h4>
							<h6 class="card-title">Doctor en Música</h6>
							<p class="card-text"><small class="text-muted">2009 - 2014</small></p>
							<p class="card-text">Especialización en Música y Medios Audiovisuales.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
		<li class="ref-list">
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Universitat de Barcelona</h4>
							<h6 class="card-title">Máster en Música</h6>
							<p class="card-text"><small class="text-muted">2012 - 2013</small></p>
							<p class="card-text">Especialización en Música como Arte Interdisciplinar.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>		
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="assets/images/logoIUDEM.png" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Instituto Universitario de Estudios Musicales</h4>
							<h6 class="card-title">Licenciado en Música</h6>
							<p class="card-text"><small class="text-muted">1999 - 2004</small></p>
							<p class="card-text">Licenciatura en Música mención Dirección Orquestal.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>-->
<!--Scroll-->
<div class="card" id="educacion">
	<h1 style="margin-bottom: 2%">Educación</h1>
	<div class="btn-edit">
		<a href="#"><i class="fas fa-plus"></i></a>
	</div>
	<div class="row" id="accordionExample" style="width: 60%; margin: auto;">
		<div class="col-4">
		  <div class="d-flex flex-column gap-4 edu">
			<a class="p-1 rounded accordion-item" data-bs-toggle="collapse" href="#collapseEdu1" role="button" aria-expanded="false" aria-controls="collapseEdu1">Programación</a>
			<a class="p-1 rounded accordion-item" data-bs-toggle="collapse" href="#collapseEdu2" role="button" aria-expanded="false" aria-controls="collapseEdu2">Doctorado</a>
			<a class="p-1 rounded accordion-item" data-bs-toggle="collapse" href="#collapseEdu3" role="button" aria-expanded="false" aria-controls="collapseEdu3">Máster</a>
			<a class="p-1 rounded accordion-item" data-bs-toggle="collapse" href="#collapseEdu4" role="button" aria-expanded="false" aria-controls="collapseEdu4">Licenciatura</a>
		  </div>
		</div>
		<div class="col-8">
			<div class="collapse show" id="collapseEdu1" data-bs-parent="#accordionExample">
				<h4 id="simple-list-item-1">Programación Full Stack</h4>
				<h4>Argentina Programa</h4>
				<p><small class="text-muted">2022 - 2023</small></p>
				<p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
					It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
			</div>
			<div class="collapse" id="collapseEdu2" data-bs-parent="#accordionExample">
				<h4 id="simple-list-item-2">Doctor en Música</h4>
				<h4>Universitat Politècnica de València</h4>
				<p><small class="text-muted">2009 - 2014</small></p>
				<p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
					It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
			</div>
			<div class="collapse" id="collapseEdu3" data-bs-parent="#accordionExample">
				<h4 id="simple-list-item-3">Máster en Música</h4>
				<h4>Universitat de Barcelona</h4>
				<p><small class="text-muted">2012 - 2013</small></p>
				<p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
					It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
			</div>
			<div class="collapse" id="collapseEdu4" data-bs-parent="#accordionExample">
				<h4 id="simple-list-item-4">Licenciado en Música</h4>
				<h4>Instituto Universitario de Estudios Musicales</h4>
				<p><small class="text-muted">1999 - 2004</small></p>
				<p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
					It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>		  
			</div>
		</div>
	</div>
</div>  