<!--<div class="card">
	<h1 style="margin-bottom: 2%">Educación</h1>
	<div class="btn-edit">
		<a href="#"><i class="fas fa-plus"></i></a>
	</div>
	<ul>
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Argentina Programa</h4>
							<h6 class="card-title">Programador Full Stack</h6>
							<p class="card-text"><small class="text-muted">2022 - 2023</small></p>
							<p class="card-text">Capacitación en programación web full stack para el desarrollo 
								de aplicaciones con HTML, CSS, JavaScript, Bootstrap, Angular, Java y Spring Boot.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Universitat Politècnica de València</h4>
							<h6 class="card-title">Doctor en Música</h6>
							<p class="card-text"><small class="text-muted">2009 - 2014</small></p>
							<p class="card-text">Especialización en Música y Medios Audiovisuales.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
		<li class="ref-list">
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Universitat de Barcelona</h4>
							<h6 class="card-title">Máster en Música</h6>
							<p class="card-text"><small class="text-muted">2012 - 2013</small></p>
							<p class="card-text">Especialización en Música como Arte Interdisciplinar.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>		
		<li>
			<div class="card mb-3" style="max-width: 1250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="assets/images/logoIUDEM.png" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h4 class="card-title">Instituto Universitario de Estudios Musicales</h4>
							<h6 class="card-title">Licenciado en Música</h6>
							<p class="card-text"><small class="text-muted">1999 - 2004</small></p>
							<p class="card-text">Licenciatura en Música mención Dirección Orquestal.</p>
						</div>
					</div>
					<div class="btn-list">
						<a href="#"><i class="fas fa-pen"></i></a>
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>-->
<!--Scroll-->
<div class="card" id="educacion">
	<h1 style="margin-bottom: 2%">Educación</h1>
	<div class="btn-edit">
		<a href="#" data-bs-toggle="modal" data-bs-target="#estudioModal"><i class="fas fa-plus"></i></a>
		<!--<a routerLink="/estudios" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-pen"></i></a>-->
	</div>
	<!-- Modal add educacion-->
	<div class="modal fade" id="estudioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Añadir educación</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="nombre_instituto" class="form-label">Institución</label>
							<input type="text" class="form-control" id="nombre_instituto" name="nombre_instituto" #institucion="ngModel" [(ngModel)]="educacion.nombre_instituto" placeholder="p. ej. Universidad de Buenos Aires" required ngModel>
							<div><span *ngIf="institucion.invalid && institucion.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="mb-3">
							<label for="titulo" class="form-label">Título</label>
							<input type="text" class="form-control" id="titulo" name="titulo" #titulo="ngModel" [(ngModel)]="educacion.titulo" placeholder="p. ej. Máster en Pedagogía" required ngModel>
							<div><span *ngIf="titulo.invalid && titulo.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="mb-3">
							<label for="grado" class="form-label">Grado</label>
							<input type="text" class="form-control" id="grado" name="grado" #grado="ngModel" [(ngModel)]="educacion.titulo_corto" placeholder="p. ej. Máster" required ngModel>
							<div><span *ngIf="grado.invalid && grado.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<label for="fecha_inicio" class="col-form-label">Fecha de inicio</label>
								<select class="form-select" id="fecha_inicio" name="fecha_inicio" #annoIn="ngModel" [(ngModel)]="educacion.fecha_inicio" aria-label="Default select example" required ngModel>
									<option value="{{year}}" *ngFor="let year of yearList">
										{{year}}
									</option>
								</select>
								<div><span *ngIf="annoIn.invalid && annoIn.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
							</div>
							<div class="col-md-6">
								<label for="fecha_fin" class="col-form-label">Fecha de finalización</label>
								<select class="form-select" id="fecha_fin" name="fecha_fin" #annoFn="ngModel" [(ngModel)]="educacion.fecha_fin" aria-label="Default select example" required ngModel>
									<option value="{{year}}" *ngFor="let year of yearList">
										{{year}}
									</option>
								</select>
								<div><span *ngIf="annoFn.invalid && annoFn.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
							</div>
						</div>
						<div class="mb-3">
							<label for="descripcion" class="form-label">Descripción</label>
							<textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="educacion.descripcion" rows="3"></textarea>
						</div>
						<input type="text" type="hidden" id="persona_id" name="persona_id" value="{{educacion.persona_id}}" [(ngModel)]="educacion.persona_id" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" role="button" (click)="createEdu()">Registrar</button>
				</div>
			</div>
		</div>
	</div> 
	<div class="row educacion" id="accordionExample" style="margin: auto;" *ngFor="let educacion of estudios; let i = index">
		<div class="col-4">
		  <div class="d-flex gap-4 edu">
			<a class="p-1 rounded accordion-item" data-bs-toggle="collapse" href="#estudios-{{i}}" role="button" aria-expanded="false" aria-controls="collapseEdu1">{{educacion.titulo_corto}}</a>
		  </div>
		</div>
		<div class="col-8">
			<div style="float: right;">
				<a href="#" class="me-3" data-bs-toggle="modal" data-bs-target="#editModal" [routerLink]="['/estudios', educacion.id]"><i class="fas fa-pen"></i></a>
				<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash"></i></a>
			</div>
			<div class="collapse show" id="estudios-{{i}}" data-bs-parent="#accordionExample">
				<h4>{{educacion.titulo}}</h4>
				<h4>{{educacion.nombre_instituto}}</h4>
				<p><small class="text-muted">{{educacion.fecha_inicio}} - {{educacion.fecha_fin}}</small></p>
				<p>{{educacion.descripcion}}</p>
				<p>{{educacion.persona_id}}</p>
			</div>
		</div>
	</div>
	<!-- Modal edit educacion-->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Editar educación</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="nombre_instituto" class="form-label">Institución</label>
							<input type="text" class="form-control" id="nombre_instituto" name="nombre_instituto" #institucion="ngModel" [(ngModel)]="educacion.nombre_instituto" placeholder="p. ej. Universidad de Buenos Aires" required ngModel>
							<div><span *ngIf="institucion.invalid && institucion.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="mb-3">
							<label for="titulo" class="form-label">Título</label>
							<input type="text" class="form-control" id="titulo" name="titulo" #titulo="ngModel" [(ngModel)]="educacion.titulo" placeholder="p. ej. Máster en Pedagogía" required ngModel>
							<div><span *ngIf="titulo.invalid && titulo.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="mb-3">
							<label for="grado" class="form-label">Grado</label>
							<input type="text" class="form-control" id="grado" name="grado" #grado="ngModel" [(ngModel)]="educacion.titulo_corto" placeholder="p. ej. Máster" required ngModel>
							<div><span *ngIf="grado.invalid && grado.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<label for="fecha_inicio" class="col-form-label">Fecha de inicio</label>
								<select class="form-select" id="fecha_inicio" name="fecha_inicio" #annoIn="ngModel" [(ngModel)]="educacion.fecha_inicio" aria-label="Default select example" required ngModel>
									<option value="{{year}}" *ngFor="let year of yearList">
										{{year}}
									</option>
								</select>
								<div><span *ngIf="annoIn.invalid && annoIn.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
							</div>
							<div class="col-md-6">
								<label for="fecha_fin" class="col-form-label">Fecha de finalización</label>
								<select class="form-select" id="fecha_fin" name="fecha_fin" #annoFn="ngModel" [(ngModel)]="educacion.fecha_fin" aria-label="Default select example" required ngModel>
									<option value="{{year}}" *ngFor="let year of yearList">
										{{year}}
									</option>
								</select>
								<div><span *ngIf="annoFn.invalid && annoFn.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
							</div>
						</div>
						<div class="mb-3">
							<label for="descripcion" class="form-label">Descripción</label>
							<textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="educacion.descripcion" rows="3"></textarea>
						</div>
						<input type="text" type="hidden" id="persona_id" name="persona_id" value="{{educacion.persona_id}}" [(ngModel)]="educacion.persona_id" />
					</form>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEdu()">Actualizar</button>
				</div>
			</div>
		</div>
	</div>
	<!--Modal delete educacion-->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="card modal-header" style="color: #ed0c32; border: none;">
			  <i class="fa-solid fa-trash-can fa-5x"></i>
			</div>
			<div class="modal-body mb-2" style="text-align: center;">
			  ¿Deseas eliminar este estudio?
			</div>
			<div class="modal-footer mb-3" style="justify-content: center; border: none;">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
			  <button type="button" class="btn btn-primary" (click)="deleteEdu(educacion)">Eliminar</button>
			</div>
		  </div>
		</div>
	  </div>	  
</div>  