<div class="card">
  <h4>Prueba Formulario</h4>
  <form>
    <div class="mb-3">
        <label for="FormControlInput1" class="form-label">Institución</label>
        <input type="text" class="form-control" id="FormControlInput1" placeholder="Default input">
    </div>
    <div class="mb-3">
        <label for="FormControlInput1" class="form-label">Título</label>
        <input type="text" class="form-control" id="FormControlInput1" placeholder="Default input">
    </div>
    <div class="row mb-3" style="display:inline-flex;">
        <div class="col-md-6">
            <label for="name" class="col-form-label">Fecha de inicio</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Año de inicio</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-md-6">
            <label for="apellido" class="col-form-label">Fecha fin</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Año de finalización</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea1" class="form-label">Descripción</label>
        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
</div>
<!-- Modal add educacion-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="FormControlInput1" class="form-label">Institución</label>
                    <input type="text" class="form-control" id="FormControlInput1" placeholder="Default input">
                </div>
                <div class="mb-3">
                    <label for="FormControlInput1" class="form-label">Título</label>
                    <input type="text" class="form-control" id="FormControlInput1" placeholder="Default input">
                </div>
                <div class="row mb-3" style="display:inline-flex;">
                    <div class="col-md-6">
                        <label for="name" class="col-form-label">Fecha de inicio</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Año de inicio</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="col-form-label">Fecha fin</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Año de finalización</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="FormControlTextarea1" class="form-label">Descripción</label>
                    <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>  
