* {
    margin-left: 8px;
    margin-right: 8px;
}
/*body {
    font-family: ;
}
h1, h2, h3, h4, h5, h6 {
    font-family: ;
}*/
.social {
    display:inline;
    float:left;
}
.social a {
    text-decoration: none;
}
section h1 {
    margin-top: 1em;
}
section li {
    list-style: none;
}
.bio {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
}
#perfil {
    display: flex;
}
#especial { font-weight: bold; }
#muestras {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 50px;
}

.cover {
    color:whitesmoke;
    background-color:grey;
    background-image: url();
    background-size:cover;
    background-position: center;
}
#skills {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}
.icono {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background:lightgray;
    float: left;
    margin: 25px;
}
    .ability {
        display: flex;
        justify-content:center;
        margin-top: 60px;
    }
#pie {
    height: 100px;
    background-color:lightgrey;
}
.marca {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.datos li {
    display: inline;
    float: left;
    margin-left: 300px;
    padding-top: 40px;
}