<footer>
    <div class="pie">
        <ul>
            <li class="me-5">
                <a href="#">
                    <img [src]="logo" alt="Logo Johnny" width="85" height="60">
                </a>
                Johnny Gamboa <span style="color: #ed0c32;"><i class="fa-regular fa-copyright fa-sm"></i>2022</span>
            </li>
            <li class="me-5"><i class="fa-solid fa-envelope fa-lg"></i> &nbsp;&nbsp;jgamb.rod@gmail.com</li>
            <li class="me-5"><i class="fa-solid fa-location-dot fa-lg"></i> &nbsp;&nbsp;Buenos Aires, Argentina</li>
        </ul>
    </div>
</footer>
<!--<footer>
    <div id="pie">
        <a href="#">
            <div id="logo">
                <div id="jg">JG</div>
            </div>
        </a>
        <div id="copyright"><i class="fa-regular fa-copyright"></i>2022 Johnny Gamboa</div>
        <ul class="datos">
            <li><i class="fa-solid fa-envelope"></i>jgamb.rod@gmail.com</li>
            <li><i class="fa-solid fa-phone"></i>Telf.: (+54) 9 11 27823255</li>
        </ul>
    </div>
</footer>-->