<nav class="navbar navbar-expand-lg py-0 navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand me-4" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
		<img [src]="logoArgPro" alt="" width="" height="" class="d-inline-block align-text-top" style="margin-left: -15px;">
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">		  
		  <li class="nav-item me-2">
			<a class="nav-link" href="#sobre-mi">Sobre mí</a>
		  </li>
		  <li class="nav-item me-2">
			<a class="nav-link" href="#experiencia">Experiencia</a>
		  </li>
		  <li class="nav-item me-2">
			<a class="nav-link" href="#educacion">Educación</a>
		  </li>
		  <li class="nav-item me-2">
			<a class="nav-link" href="#skills">Skills</a>
		  </li>
		  <li class="nav-item me-2">
			<a class="nav-link" href="#proyectos">Proyectos</a>
		  </li>
		  <li class="nav-item me-2">
			<a class="nav-link" href="#contacto">Contacto</a>
		  </li>
		</ul>
		<div class="d-flex me-3 mb-3 mt-0 mb-lg-0">
			<a class="navbar-nav nav-link me-3" href="https://www.linkedin.com/in/jlg26"><i class="fa-brands fa-linkedin"></i></a>
			<a class="navbar-nav nav-link me-3" href="https://github.com/JohnDeveloper2022"><i class="fa-brands fa-github"></i></a>
		</div> 
		<form class="d-flex">
			<button class="btn btn-outline-danger btn-sm" type="button"
			 *ngIf="!user; else elseBlock" (click)="activarEdicion()">LOG IN</button>
			<ng-template #elseBlock><button class="btn btn-outline-danger btn-sm" type="button"
				data-bs-toggle="modal" data-bs-target="#cerrarSesion">LOG OUT</button></ng-template>
		</form>
	  </div>
	  <!--Modal cerrar sesión-->
	  <div class="modal fade" id="cerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="card modal-header" style="color: #ed0c32; border: none;">
				<i class="fa-solid fa-power-off fa-5x"></i>
			</div>
			<div class="modal-body mb-2" style="text-align: center;">
			  ¿Deseas salir de la sesión?
			</div>
			<div class="modal-footer mb-3" style="justify-content: center; border: none;">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
			  <button type="button" class="btn btn-danger" (click)="desactivarEdicion()">Cerrar sesión</button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </nav>
<div class="card">
	<!--<img [src]="coverImage" class="img-fluid" alt="Imagen Destacada">-->
	<div style="background-color: #212529; padding-bottom: 50px;">
		<!--<div class="persona-coding">
			<img [src]="miniCover" class="img-fluid" width="50%">
		</div>-->
		<div class="cover-text">
			Hola <span style="color: #ed0c32;">Mundo</span><br>
			Mi <span style="color: #ed0c32;">nombre</span> es <span style="color: #ed0c32;font-weight: bold;">JOHNNY </span>GAMBOA<span id="intermitente">_</span>
		</div>
		<div class="programador">
			PROGRAMADOR WEB <br>
			<p style="font-size: 20px;">front-end & back-end</p>
		</div>
		<div class="musico">
			MÚSICO PROFESIONAL
		</div>
	</div>
</div>