<header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Argentina Programa-#YoProgramo
          </a>
          <div class="social">
            <ul>
              <li class="nav-item">
                <a href="#"><i class="fa-brands fa-linkedin" style="font-size:x-large;"></i></a>
              </li>
              <li class="nav-item">
                <button class="button">LOG IN</button>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="card">
      <div class="cover d-flex justify-content-center align-items-center flex-column" style="padding: 150px; background-color: beige;">
          <h1>PortfolioWEB</h1>
          <P>Johnny Gamboa</P>
          <img [src]="" class="img-fluid" alt="">
      </div>
      <div>
        <div class="mi-perfil">
            <img src="..." class="img-thumbnail" alt="--Imagen de perfil--" style="padding: 30px">
            <div class="btn-perfil">
                <a href="#"><i class="fas fa-pen"></i></a>
            </div>
        </div>
        <div style="margin-top: 6em; width: 50%;">
            <h3>JOHNNY GAMBOA</h3>
            <h6>DESARROLLADOR FULL STACK / MÚSICO</h6>
        </div>
      </div>
    </div>
  </header>