<section>
    <div class="card">
        <h1 style="margin-bottom: 2%">Experiencia</h1>
        <div class="btn-edit">
            <a href="#"><i class="fas fa-plus"></i></a>
        </div>
      <!--  <div class="linea">
          <svg>
            <line x1="0" y1="0" x2="800" y2="800" />
          </svg>
        </div> -->
        <ul class="experience">
          <li style="border: solid blue;">
              <div class="card mb-3" style="max-width: 1250px;">
                  <div class="row g-0">
                    <div class="col-md-4" style="border: solid blue; height: 100px; width: 150px;">
                      <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title">Desarrollo Web</h4>
                        <h6 class="card-title">Argentina Programa</h6>
                        <p class="card-text"><small class="text-muted"><time datetime="2022-01">Enero 2022</time>CABA, Argentina</small></p>
                        <p class="card-text">Conocimiento y aplicación de tecnologías y herramientas de programación web <em>front-end</em> y <em>back-end</em> .</p>
                        <p>Aplicación de metodologías ágiles (<em>Scrum</em>).</p>
                      </div>
                    </div>
                    <div class="btn-list">
                        <a href="#"><i class="fas fa-pen"></i></a>
                        <a href="#"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="card mb-3" style="max-width: 1250px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title">Asistente en Archivo Musical</h4>
                        <h6 class="card-title">L'Auditori de Barcelona</h6>
                        <p class="card-text"><small class="text-muted"><time datetime="2013-01">Enero 2013</time> - <time datetime="2015-07">Julio 2015</time>
                          Barcelona, España</small></p>
                        <p class="card-text">Mis funciones en la empresa:</p>
                        <ul>
                          <li>Catalogación restrospectiva de los fondos del archivo de partituras de l'OBC</li>
                          <li>Conocimiento y manejo del programa de gestión de orquestas OPAS (Orchestra Planning Administration System).</li>
                          <li>Aplicación de habilidades informáticas (microsoft office) en proyectos artísticos multidisciplinares</li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-list">
                        <a href="#"><i class="fas fa-pen"></i></a>
                        <a href="#"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="card mb-3" style="max-width: 1250px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title">Director Musical</h4>
                        <h6 class="card-title">Fundación de Orquestas Juveniles e Infantiles de Venezuela</h6>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text">Director Musical de la Orquesta Sinfónica Juvenil e Infantil Núcleo Carapita.</p>
                        <ul>
                          <li>Aplicación de técnicas de ensayo para el montaje y representación del repertorio sinfónico programado.</li>
                          <li>Desarrollo de clases de lenguaje musical.</li>
                          <li>Generación de recursos para el estudio e interpretación de instrumentos musicales en conjunto.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-list">
                        <a href="#"><i class="fas fa-pen"></i></a>
                        <a href="#"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
    </div>
  </section>
