<div class="card" id="contacto" style="border: none; background-color: #212529; border-radius: 0%;">
    <h1 class="mb-4 wow animate__animated animate__fadeIn animate__slow 2s" style="text-align: center; color: white;">Contacto</h1>
    <h5 class="m-auto mb-4 wow animate__animated animate__fadeInUp animate__slow" style="text-align: center; color: white; width: 90%; opacity: 75%;">Gracias por visitar mi sitio web. Si tienes alguna pregunta o deseas contactarme para futuros proyectos,
        <span style="color: #ed0c32;">no dudes es usar el formulario.</span>
    </h5>
    <div class="m-auto wow animate__animated animate__zoomIn" style="max-width: 60%; color: #9b9b9b;">
        <form ngNoForm action="https://formsubmit.co/ab9ea79479ac18704254acb31ab40930" method="POST" autocomplete="off">
            <div class="row mb-3" style="display:inline-flex;">
                <div class="col-md-6">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input type="text" class="form-control" #name="ngModel" id="nombre" name="nombre" pattern="^([a-zA-Z]|[à-ú]|[À-Ú])+$" minlength="3" required ngModel>  
                    <div><span *ngIf="name.invalid && (name.dirty || name.touched)" style="color: #ed0c32;"><small>Ingrese un nombre válido</small></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="col-form-label">Apellido</label>
                    <input type="text" class="form-control" #apellido="ngModel" id="apellido" name="apellido" pattern="^([a-zA-Z]|[à-ú]|[À-Ú])+$" minlength="3" maxlength="12" required ngModel>
                    <div><span *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" style="color: #ed0c32;"><small>Ingrese un apellido válido</small></span></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" class="form-control" #email="ngModel" id="email" name="email" email placeholder="name@example.com" required ngModel>
                <div><span *ngIf="email.invalid && (email.dirty || email.touched)" style="color: #ed0c32;"><small>Ingrese un email válido</small></span></div>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="col-form-label">Mensaje</label>
                <textarea type="textarea" class="form-control" #message="ngModel" id="mensaje" name="mensaje" rows="3" maxlength="200" placeholder="El motivo de tu consulta..." required ngModel></textarea>
                <div><span *ngIf="message.invalid && (message.dirty || message.touched)" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
            </div>
            <div class="d-grid mt-5 mb-5">
                <button type="submit" class="btn btn-primary py-2" id="btn-send-contact">Enviar mensaje</button>
            </div>
            <input type="hidden" name="_next" value="https://portfolio-johnny-f39f6.web.app">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
</div>
