<div class="card" id="contacto">
    <h1 class="mb-4" style="text-align: center;">Contacto</h1>
    <p class="m-auto mb-4">Hola. Gracias por visitar mi sitio web. Si tienes alguna pregunta o deseas contactarme para futuros proyectos,
        no dudes es usar el formulario.
    </p>
    <div class="m-auto" style="max-width: 60%;">
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="row mb-3" style="display:inline-flex;">
                <div class="col-md-6">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input type="text" class="form-control" #name="ngModel" id="nombre" name="nombre" minlength="3" required ngModel>  
                    <div><span *ngIf="name.invalid && name.touched" style="color: #ed0c32;"><small>Ingrese un nombre válido</small></span></div>
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="col-form-label">Apellido</label>
                    <input type="text" class="form-control" #apellido="ngModel" id="apellido" name="apellido" pattern="[a-zA-Z]+$" minlength="3" maxlength="12" required ngModel>
                    <div><span *ngIf="apellido.invalid && apellido.touched" style="color: #ed0c32;"><small>Ingrese un apellido válido</small></span></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" class="form-control" #email="ngModel" id="email" name="email" email placeholder="name@example.com" required ngModel>
                <div><span *ngIf="email.invalid && email.touched" style="color: #ed0c32;"><small>Ingrese un email válido</small></span></div>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="col-form-label">Mensaje</label>
                <textarea type="textarea" class="form-control" #message="ngModel" id="mensaje" name="mensaje" rows="3" maxlength="200" placeholder="El motivo de tu consulta..." required ngModel></textarea>
                <div><span *ngIf="message.invalid && message.touched" style="color: #ed0c32;"><small>Este campo es requerido</small></span></div>
            </div>
            <div class="d-grid mt-5 mb-3">
                <button type="submit" class="btn btn-primary py-2" id="btn-send-contact">Enviar mensaje</button>
            </div>
        </form>
    </div>
</div>
