<div class="card">
    <h1 style="text-align: center;">Contacto</h1>
    <p>Hola. Gracias por visitar mi sitio web. Si tienes alguna pregunta o deseas contactarme para futuros proyectos,
        no dudes es usar el formulario.
    </p>
    <div class="m-auto mt-4" style="max-width: 60%;">
        <form class="needs-validation" >
            <div class="row mb-3" style="display:inline-flex;">
                <div class="col-md-6">
                    <label for="name" class="col-form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" minlength="3" maxlength="12" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="col-form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" minlength="4" maxlength="12" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="mb-3">
                <label for="message-text" class="col-form-label">Mensaje</label>
                <textarea class="form-control" id="message-text" rows="3" minlength="12" maxlength="200" required></textarea>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="d-grid mt-5 mb-3">
                <button type="submit" class="btn btn-primary py-2" id="btn-send-contact">Send message</button>
            </div>
        </form>
    </div>
</div>
