<div class="card" id="sobre-mi">
    <h1>Sobre mí</h1>
    <div class="btn-edit">
        <a href="#"><i class="fas fa-pen"></i></a>
    </div>
    <p>Mi nombre es Johnny Gamboa. Soy músico y programador residenciado en Buenos Aires, Argentina.
        Realicé estudios musicales en Caracas (Venezuela) obteniendo el grado de Licenciado en Música, 
        así como también el grado de Doctor en Música y Medios Audiovisuales por la Universitat Politècnica de València (València, España).
    </p>
    <p>Actualmente me encuentro estudiando programación, adquiriendo conocimiento en diversas tecnologías
        vinculadas al desarrollo web front-end y back-end.
    </p>
    <p>Lo que más me gusta de la programación es su desarrollo y aplicación multidisciplinar,
        abarcando áreas del conocimiento científico, cultural y tecnológico.
    </p>
    <div>
        <button id="cerrar" class="mas-sobreMi" type="button" onclick="document.getElementById('cerrar').style.display= 'none'" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <small>...ver más</small>
        </button>
    </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            Estas son algunas de las tecnologías que he utilizado en mi portfolio y con las que trabajo actualmente:
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                  <div class="card card-effect">
                    <i class="fa-brands fa-angular fa-5x"></i>
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">Angular</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-effect">
                    <i class="fa-brands fa-bootstrap fa-5x"></i>
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">Bootstrap</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-effect">
                    <i class="fa-brands fa-java fa-5x"></i>
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">Java</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-effect">
                    <i class="fa-solid fa-power-off fa-5x"></i>
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">Spring Boot</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
</div>