<div class="card">
    <h1>Sobre mí</h1>
    <div class="btn-edit">
        <a href="#"><i class="fas fa-pen"></i></a>
    </div>
    <p>Mi nombre es Johnny Gamboa Rodríguez. Soy venezolano y actualmente resido en Buenos Aires, Argentina.
        Realicé estudios musicales en Caracas, obteniendo el grado de Licenciado en Música mención Dirección Orquestal,
        y posteriormente culminé mis estudios de doctorado en la Universitat Politècnica de València (València, España).
    </p>
    <p>Desde enero de 2022 me encuentro estudiando programación, adquiriendo conocimiento en diversas tecnologías
        vinculadas al desarrollo web.</p>
    <p>Lo que más me gusta de la programación es su desarrollo y aplicación multidisciplinar,
        abarcando áreas del conocimiento científico, cultural y tecnológico.
    </p>
</div>