<section>
    <div class="card">
        <h1>Hard & Soft skills</h1>
        <div class="btn-edit">
            <a href="#"><i class="fas fa-plus"></i></a>
        </div>
        <div id="skills">
            <div class="icono"><span class="ability">Comunicación</span></div>
            <div class="icono"><span class="ability">Trabajo en equipo</span></div>
            <div class="icono"><span class="ability">Creatividad</span></div>
            <div class="icono"><span class="ability">HTML</span></div>
            <div class="icono"><span class="ability">CSS</span></div>
            <div class="icono"><span class="ability">JavaScript</span></div>
        </div>
    </div>
  </section>
