<div class="card">
    <h1 style="margin-bottom:25px">Idiomas</h1>
    <div class="btn-edit">
        <a href="#"><i class="fas fa-plus"></i></a>
    </div>
    <div>
        <div class="progress">
            <div class="progress-bar bar-1" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <b>INGLÉS</b></div>
        </div>
        <div class="progress">
            <div class="progress-bar bar-2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <b>ALEMÁN</b></div>
        </div>
        <div class="progress">
            <div class="progress-bar bar-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <b>ITALIANO</b></div>
        </div>
    </div>
</div>