* {
    margin-left: 8px;
    margin-right: 8px;
}
.cabecera {
    background-color: black;
    padding: 25px 25px;
}
.cursiva {
    font-style: italic;
}
body {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
.social li {
    display:list-item;
    list-style-type: none;
    position: relative;
    float: left;
    align-items: center;
    margin-left: 15px;
}
.login-button {
    background-color:#ed0c32;
    color: white;
    text-align: center;
    font-size:medium;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    padding: 5px 12px;
}
.login-button:hover {
    background-color:#ba0927;
}
.login-format {
    max-width: 340px;
    margin: auto;
}
.text-center {
    width: 100%;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
}
#btn-login {
    width: 100%;
    background: #ed0c32;
    padding: 6px 20px;
    border:none;
    border-radius: 2px;
}
#btn-login:hover {
    background: #ba0927;
}
#btn-close {
    padding: 6px 20px;
    border:none;
    border-radius: 2px;
}
.cover {
    padding: 100px;
    background-color: #f2f2f0;
}
.cover-text {
    font-size: 3vw;
    text-align: center;
}
.contact-button {
    color: #ed0c32;
    background-color: #f2f2f0;
    padding: 5px 12px;
    font-weight: bold;
    border: 2px solid #ed0c32;
    border-radius: 5px;
    transition: 0.3s;
}
.contact-button:hover {
    background-color: #ed0c32;
    color: white;
}
#btn-centered {
    width: fit-content;
    margin: auto;    
}
#btn-close-contact {
    border: none;
}
#btn-send-contact {
    background: #ed0c32;
    border: none;
    margin-left: 12px;
}
#btn-send-contact:hover {
    background: #ba0927;
}
.card {
    border-radius: 25px;
    padding: 15px;
    margin: 10px 10px;
}
div h1 {
    margin-top: 1em;
}
div li {
    list-style: none;
}
#especial { font-weight: bold; }
#project {
    display: flex;
    justify-content: center;
}
.btn-edit {
    position: absolute;
    right: 0px;
    width: 50px;
    padding: 10px;
}
.btn-list {
    position: absolute;
    float: right;
    right: 20px;
    width: 150px;
    padding: 10px;
    text-align: right;
}
.experience {
    margin-left: 100px;
}
.linea svg {
    position: absolute;
    float: left;
    stroke:darkred;
    stroke-width: 4;
    width: 500;
    height: 20;
    transform: rotate(45deg);
} 
.round-circles {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    margin: auto;
}
.circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f2f2f0;
    margin: 1rem;
}
.circle svg {
    width: 150px;
    height: 150px;
    margin: auto;
    transform: rotate(-90deg);
}
.measure-1 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 66;
    animation: spinner-1 3s ease-out;
    fill: none;
}
.measure-2 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 164;
    animation: spinner-2 3s ease-out;
    fill: none;
}
.measure-3 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 82;
    animation: spinner-3 3s ease-out;
    fill: none;
}
.measure-4 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 102;
    animation: spinner-4 3s ease-out;
    fill: none;
}
.measure-5 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 41;
    animation: spinner-5 3s ease-out;
    fill: none;
}
.measure-6 {
    stroke: #ed0c32;
    stroke-width: 20;
    stroke-dasharray: 410;
    stroke-dashoffset: 61;
    animation: spinner-6 3s ease-out;
    fill: none;
}
@keyframes spinner-1 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 66;}
}
@keyframes spinner-2 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 164;}
}
@keyframes spinner-3 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 82;}
}
@keyframes spinner-4 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 102;}
}
@keyframes spinner-5 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 41;}
}
@keyframes spinner-6 {
    from {stroke-dashoffset: 410;}
    to {stroke-dashoffset: 61;}
}
.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #474b4f;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    fill: none;
    margin: 0;
}
/*#skills {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}
.icono {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background:lightgray;
    float: left;
    margin: 25px;
}
    .ability {
        display: flex;
        justify-content:center;
        margin-top: 60px;
    }*/
div .progress {
    margin: 25px 50px;
    background-color: white;
}
.progress .bar-1 {
    height: auto;
    width: 75%;
    font-size: 1.35em;
    font-weight: bolder;
    background-color: #ed0c32;
    border-radius: 15px;
    animation: progress-1 2s ease-out;
}
.progress .bar-2 {
    height: auto;
    width: 25%;
    font-size: 1.35em;
    font-weight: bolder;
    background-color: #ff264a;
    border-radius: 15px;
    animation: progress-2 2s ease-out;
}
.progress .bar-3 {
    height: auto;
    width: 50%;
    font-size: 1.35em;
    font-weight: bolder;
    background-color: #A1182f;
    border-radius: 15px;
    animation: progress-3 2s ease-out;
}
@keyframes progress-1 {
    from {width: 0%;}
    to {width: 75%;}
}
@keyframes progress-2 {
    from {width: 0%;}
    to {width: 25%;}
}
@keyframes progress-3 {
    from {width: 0%;}
    to {width: 50%;}
}

#pie {
    display:inline-block;
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 10px;
    margin: 0;
}
#logo {
    display: block;
    float:left;
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #ed0c32;
    margin: 0;
}
#logo:hover {
    background-color:#ba0927;
}
#jg {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}
#copyright {
    float: left;
    padding: 30px 0;
    text-align: center;
    color: #ed0c32;
}
.datos li {
    display: inline-flex;
    list-style-type: none;
    color: white;
    padding:10px;
    margin-left: 50px;
}